<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="editReport.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Edit Project</h1>
      <label for="office">Office: </label>
      <input type="text" id="office" placeholder="Enter office..." />
      <br />
      <br />
      <label for="mission">Mission: </label>
      <input type="text" id="mission" placeholder="Enter mission..." />
      <br />
      <br />
      <label for="goal">Goal: </label>
      <input type="text" id="goal" placeholder="Enter goal..." />
      <br />
      <br />
      <label for="phoneNo">PhoneNo: </label>
      <input type="text" id="phoneNo" placeholder="Enter phoneNo..." />
      <br /><br />
      <button>Send</button>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="editOrg.js"></script>
</html>
