<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orgLogin.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Org Login</h1>

      <form action="" onsubmit="handleSubmit(event)">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" />
        <br />
        <br />
        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id="password"
          autocomplete="new-password"
        />
        <br />
        <br />
        <button>Login</button>
        <a href="./registerOrg.html">register Org</a>
      </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="orgLogin.js"></script>
</html>
