<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/index.css" />
    <link rel="stylesheet" href="project.css" />
    <title>Charity Donation App</title>
  </head>
  <body>
    <div class="body">
      <div class="header">
        <img
          src="https://i.pinimg.com/736x/7a/c8/55/7ac85575b524fff241995dbea779704b.jpg"
          alt=""
          width="40px"
          height="40px"
          style="border-radius: 15px"
        />

        <h2>Charity Donation App</h2>
        <button
          id="admin"
          style="
            padding: 16px;
            margin-left: 20px;
            border: none;
            background-color: rgb(89, 223, 212);
            color: white;
            border-radius: 10px;
            font-weight: bold;
          "
        >
          Admin
        </button>
        <button id="Orgs">Charity Orgs</button>
        <div>
          <input type="text" name="search" id="search" />
          <button id="searchButton">Search</button>
        </div>
        <button id="login"></button>
      </div>

      <div class="mid" id="projectList"></div>

      <div class="footer">Thank you for supporting!</div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./project.js"></script>
  <script src="/frontend/components/user/profileButton.js"></script>
</html>
