<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="payment.css" />
    <title>Payment</title>
  </head>
  <body>
    <div class="container">
      <h1 style="color: rgb(130, 241, 241)">Donation</h1>
      <label for="amount">Amount: </label>
      <input type="number" name="amount" id="amount" />
      <button id="payment" onclick="initiatePayment()">Payment</button>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

  <script>
    const initiatePayment = async () => {
      const token = JSON.parse(localStorage.getItem("token"));
      const amount = document.getElementById("amount");

      const projectId = JSON.parse(localStorage.getItem("projectId"));
      try {
        const res = await axios.get(
          `http://localhost:5000/payment/sessionId/${projectId}?money=${amount.value}`,
          {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }
        );

        const paymentSessionId = res.data.data.id;
        console.log(paymentSessionId);

        const cashfree = await Cashfree({
          mode: "sandbox",
        });

        await cashfree.checkout({
          paymentSessionId,
          redirectTarget: "_self",
        });
      } catch (err) {
        console.error("Cashfree checkout error:", err);
      }
    };
  </script>

  <script src="payment.js"></script>
</html>
