<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/components/user/profile.css" />

    <title>Charity APP</title>
  </head>
  <body>
    <div>
      <h1 id="user">User Profile</h1>
      <h1 id="userDetails"></h1>
      <button id="logout">LogOut</button>
      <button id="editButton">Edit</button>
      <button id="donationHistory">Donation History</button>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="profile.js"></script>
</html>
